* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.notice {
	width: 298px;
	height: 98px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}

.notice-tit {
	position: relative;
	height: 27px;
	background: #555;
}

.notice-tit ul {
	position: absolute;
	left: -1px;
	width: 300px;
} 

.notice-tit li {
	float: left;
	padding: 0 1px;
	width: 58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	background:#fff;
	border-bottom: 1px solid #eee;
}

.notice-tit li a {
	display: inline-block;
	height: 100%;
	width: 100%;
}


.notice-tit li.select{
	padding: 0;
	background: #fff;
	border-bottom-color:#fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-weight: bold;
    
}

.notice li a:link,.notice li a:visited {
	text-decoration: none;
	color:#000;
}

.notice li a:hover {
	color:#F90;
}

.notice-con .mod {
	display: none;
	margin:10px 10px 10px 19px;

}

.notice .mod ul li {
	float: left;
	width: 134px;
	height: 25px;
	overflow: hidden;
}  